/* Tema claro */
:root {
    --cor-fundo: #ffffff;
    --cor-link: #3a4ca0;
    --cor-selecao: #d0cbc1;
    --cor-texto-guia: #20345c;
    --cor-botao: #8f887b;
    --cor-botao-hover: #00000000;
    --cor-botao-texto: #ffffff;
    --cor-avatar-borda: #44749d;
    --cor-p: #2c2e31;
    --cor-titulo-h2: #36322b;
    --cor-titulo-h1: #1d2536;
    --cor-ball: #3e8acd;
    --cor-contato-fundo: #c6d4e1;
    --cor-contato-hover: #99b4cc;
    --cor-return: #99b4cc;
    --cor-box-fundo: #ebe7e0;
    --cor-sombra: #0000004d;
    --cor-habilidade-fundo: #e0e0e0;
    --cor-modal-fundo: #00000096;
    --cor-close-texto: rgb(50, 100, 123);
    --cor-close-fundo-hover: rgb(215, 215, 215);
    --cor-close-fundo: rgb(255, 255, 255);
    --cor-close-texto-hover: rgb(19, 64, 84);
    --cor-imagem-modal-borda: #687c88;
    --cor-i: #000000;
    --color-footer: #dfdfdf;
}

/* Tema escuro */
[theme='dark'] {
    --cor-fundo: #0f0f0f;
    --cor-link: #8a97f8;
    --cor-selecao: #3e3e3e;
    --cor-texto-guia: #e0e0e0;
    --cor-botao: #5e5952;
    --cor-botao-hover: #ffffff00;
    --cor-botao-texto: #ffffff;
    --cor-avatar-borda: #272a4b;
    --cor-p: #e0e0e0;
    --cor-titulo-h2: #d1d1d1;
    --cor-titulo-h1: #ffffff;
    --cor-ball: #6c5ad4;
    --cor-contato-fundo: #1c1f30;
    --cor-contato-hover: #282a3e;
    --cor-return: #282a3e;
    --cor-box-fundo: #1e1e1e;
    --cor-sombra: #00000080;
    --cor-habilidade-fundo: #2a2a2a;
    --cor-modal-fundo: #000000cc;
    --cor-close-texto: #b0b0b0;
    --cor-close-fundo-hover: #4c4c4c;
    --cor-close-fundo: #2e2e2e;
    --cor-close-texto-hover: #d8d8d8;
    --cor-imagem-modal-borda: #3f4a53;
    --cor-i: #e0e0e0;
    --color-footer: #181818;
}

body {
    font-family: "Varela Round", sans-serif;
    margin: 0;
    background-color: var(--cor-fundo);
    transition: background-color 0.2s;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: #939292;
    border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #727272;
}

a:link {
    color: var(--cor-link);
}

a:visited {
    color: var(--cor-link);
}

.inicial {
    min-height: 100vh;
    min-width: 100%;
}

.inicial header, .inicial .name, .inicial .contatos, .inicial .categorias {
    animation: iniciar 1s forwards;
}

@keyframes iniciar {
    0% {
        opacity: 0;
        transform: translateY(5vh);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

::selection {
    background-color: var(--cor-selecao);
}

.name {
    margin-top: 200px;
}

.me_container {
    transform: translateY(105px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.guia {
    margin-top: 70px;
    font-weight: 900;
    color: var(--cor-texto-guia);
    font-size: 30px;
}

.botoesGuia {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    margin-right: 30px;
}

.animar {
    opacity: 0;
    transform: translateX(-15vw);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}
.animar.visible {
    opacity: 1;
    transform: translateX(0);
}

.botaoGuia {
    margin: 5px;
    font-weight: 700;
    font-family: "Nunito", sans-serif;
    cursor: pointer;
    border-color: var(--cor-botao);
    background-color: var(--cor-botao);
    color: var(--cor-botao-texto);
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 8px;
    font-size: 15px;
    border-width: 3px;
    border-style: solid;
    transition: background-color 0.25s ease, transform 0.2s, color 0.25s, border-color 0.25s;
}

.botaoGuia:hover {
    color: var(--cor-botao);
    background-color: var(--cor-botao-hover);
}

.categorias {
    margin-top: 10vh;
}

main {
    transition: filter 0.3s;
}

.botaoGuia:active {
    transform: scale(0.9);
}

.avatar.widthFrames {
    animation: widthFrames 0.8s ease-in-out;
}

.avatar {
    cursor: pointer;
    border-style: solid;
    border-width: 4px;
    border-color: var(--cor-avatar-borda);
    width: 130px;
    border-radius: 50%;
    position: absolute;
    transition: transform 0.8s ease-in-out, opacity 0.8s ease-in-out, border-color 0.2s;
}

.avatar.pular {
    animation: pular 0.6s ease-in-out;
}

@keyframes pular {
    0% {
        width: 130px;
    }
    50% {
        width: 110px
    }
    100% {
        width: 130px;
    }
}

p {
    text-align: justify;
    color: var(--cor-p);
    font-size: 16px;
}

@keyframes widthFrames {
    0% {
        transform: translateY(-20px);
        width: 80px;
    }
    65% {
        transform: translateY(5px);
        width: 135px
    }
    100% {
        transform: translateY(0px);
        width: 130px;
    }
}

h2, h3, h4 {
    font-weight: 900;
    letter-spacing: 3px;
    font-family: "Nunito", sans-serif;
}

h2 {
    color: var(--cor-titulo-h2);
    text-align: center;
    font-size: 16px;
}

h3 {
    color: var(--cor-i);
}

h1 {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 30px;
    color: var(--cor-titulo-h1);
    font-family: "Rubik Mono One", monospace;
    text-align: center;
}
header {
    display: flex;
    align-items: center;
    height: 60px;
    margin-bottom: 35px;
}

.ball1, .ball2 {
    opacity: 100%;
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: var(--cor-ball);
    border-radius: 50%;
    transition: background-color 0.2s;
}

.ball1 {
    animation: moveBall1 12s ease-in-out infinite, opacityFrames 10s;
}

.ball2 {
    animation: moveBall2 12s ease-in-out infinite, opacityFrames 10s;
}

.contatos {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contatos i, .return i , .theme i {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 5px;
    height: 24px;
    width: 24px;
    font-size: 20px;
    border-radius: 50%;
    padding: 8px;
    color: var(--cor-i);
    background-color: var(--cor-contato-fundo);
    transition: background-color 0.25s ease, transform 0.2s;
}

.contatos i:hover, .return i:hover, .theme i:hover {
    background-color: var(--cor-contato-hover);
}

.contatos i:active, .return i:active, .theme i:active {
    transform: scale(0.8);
}

.blur {
    filter: blur(20px);
}



@keyframes opacityFrames {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes moveBall1 {
    0% {
        transform: translateX(0) scale(0.5);
    }
    25% {
        transform: translateX(calc(50vw - 25px)) scale(1);
    }
    50% {
        transform: translateX(calc(100vw - 100px)) scale(0.5);
    }
    75% {
        transform: translateX(calc(50vw - 25px)) scale(1);
    }
    100% {
        transform: translateX(0) scale(0.5);
    }
}

@keyframes moveBall2 {
    0% {
        transform: translateX(calc(100vw - 100px));
    }
    25% {
        transform: translateX(calc(50vw - 25px)) scale(0.5);
    }
    50% {
        transform: translateX(calc(0vw)) scale(1);
    }
    75% {
        transform: translateX(calc(50vw - 25px)) scale(0.5);
    }
    100% {
        transform: translateX(calc(100vw - 100px));
    }
}

.segundaParte {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100%;
}

.terceiraParte {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100%;
}

.quartaParte {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 100vh;
    min-width: 100%;
}

.h2Title {
    display: flex;
    flex-direction: row;
}

.boxes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.box {
    margin: 20px;
    min-width: 250px;
    max-width: 550px;
    background-color: var(--cor-box-fundo);
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 14px;
    box-shadow: 0px 4px 10px var(--cor-sombra);
    transition: background-color 0.2s;
}

.box h2 {
    font-size: 26px;
}

.return {
    transform: translateY(-60px);
    text-align: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--cor-return);
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 998;
    box-shadow: 0 0 10px var(--cor-sombra);
    transition: transform 0.3s ease-in-out;
}
.theme {
    text-align: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--cor-return);
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    box-shadow: 0 0 10px var(--cor-sombra);
}

.return i {
    font-size: 24px;
}

.habilidades {
    margin-top: 60px;
}

.habilidade-container {
    width: 250px;
    height: 30px;
    background-color: var(--cor-habilidade-fundo);
    border-radius: 30px; 
    position: relative;
    margin-bottom: 60px;
    transition: background-color 0.2s;
}

.barra {
    height: 100%;
    border-radius: 30px;
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    transition: width 9s ease;
}

.porcentagem {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000; /* Cor do texto */
    font-weight: bold;
}

.terceiraParte h2 {
    font-size: 36px;
}

.box img {
    cursor: pointer;
    margin: 5px;
    border-radius: 12px;
    width: calc(50% - 16px);
    transition: transform 0.07s ease-in-out;
    box-shadow: 0px 4px 6px var(--cor-sombra);
    transition: transform 0.25s ease-out, filter 0.25s;
}

.box img:hover {
    transform: scale(1.03);
    filter: brightness(50%);
}

.modal img {
    border-width: 3px;
    border-style: solid;
    border-color: var(--cor-imagem-modal-borda);
    border-radius: 12px;
    max-height: 80vh;
    max-width: 80vw;
    transition: transform 0.07s ease-in-out;
}

.box img:active {
    transform: scale(0.9);
}

footer {
    background-color: var(--color-footer);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;   
    transition: background-color 0.2s;
}

footer p {
    margin: 40px;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    position: fixed;
    background-color: var(--cor-modal-fundo);
    height: 100vh;
    width: 100vw;
    transition: opacity 0.5s, display 0.5s, filter 0.2s;
}

.modal .close {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--cor-close-fundo);
    height: 35px;
    width: 35px;
    font-size: 28px;
    position: fixed;
    color: var(--cor-close-texto);
    transform: translateY(calc(-50vh + 30px)) translateX(calc(50vw - 40px));
    transition: background-color 0.25s ease, transform 0.2s;
}

.modal .close:hover {
    background-color: var(--cor-close-fundo-hover);
    color: var(--cor-close-texto-hover);
}

.modal .close:active {
    transform: translateY(calc(-50vh + 30px)) translateX(calc(50vw - 40px)) scale(0.9);
}

@media (max-width: 720px) {
    h1 {
        font-size: 24px;
    }
    .terceiraParte h2 {
        font-size: 32px;
    }
}